body {
    position: relative;
}
.container {
    width: 820px;
    min-height: 600px;
}
form, button {
    display: none;
}

.choose-frm {
    margin-bottom: 40px;
}
.choose-frm ul {
    display: flex;
    justify-content: space-around;
}
.choose-frm ul li{
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 20px;
    font-size: 120%;
    font-weight: bold;

    transition: border-color 200ms ease,
                background-color 200ms ease,
                color 200ms ease;
}
.choose-frm ul li:hover {
    cursor: pointer;
    border-color: blue
}
.choose-frm ul li.green {
    animation: show-up 200ms ease-in 1ms 1 forwards
}
form {
    border: 1px solid gray;
}
.fields-nm {
    border-bottom: 1px solid gray;
    padding: 4px;
    font-size: 105%;
}
.fields-nm ul {
    display: flex;
    justify-content: space-around;
}
.fields-vl {
    border: 1px solid transparent;
    margin: 4px;
    display: flex;
    justify-content: space-around;
    padding: 6px 2px;
    transition: border-color 200ms ease;
}
.fields-vl:hover {
    border-color: gray;
}
input {
    width: 22%;
    font-size: 110%;
}

.delete {
    width: 25px;
    height: 25px;
    padding: 2px;
    border: 1px solid gray;
    transition: color 200ms ease,
                border-color 200ms ease;
}
.delete:hover {
    padding: 4px 2px 2px 4px;
    cursor: pointer;
    color: red;
    border-color: red;
}
.successful-update {
    position: absolute;
    width: 200px;
    top: 150px;
}
.successful-update-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px auto;
    padding: 32px 8px 16px 8px;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    border: 2px solid var(--secondary-color);
    background-color: #fff;
}
.successful-update p {
    font-size: 120%;
}
.successful-update .delete {
    margin: 10px;
    align-self: flex-end;
}

.green {
    border-color: green;
}
.red {
    border-color: red;
}
#btn-azur-sadnice {
    margin-top: 30px;
    transition: border-color 200ms ease,
                color 200ms ease;
}
#btn-azur-sadnice.blue:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
/* ANIMATION */
@keyframes show-up {
    from {
        background-color: #fff;
    }
    to {
        color: #fff;
        background-color: var(--secondary-color)
    }
}